.booklist {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
  }
  
  @media screen and (min-width: 768px) {
    .booklist {
      grid-template-columns: repeat(3, 1fr);
    }
  }

.book {
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    /* set relative */
    position: relative;
  }
  
  .book img {
    width: 100%;
    object-fit: cover;
  }
  .book h2 {
    margin-top: 1rem;
    font-size: 1.3rem;
    color: #532a0a
  }
  .book h4 {
    margin-top: 1rem;
    font-size: 1rem;
    color: #3e4707;
  }
  .number {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding: 0.75rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: #c35600;
    color: #fff;
  }

  h1 {
    position: relative;
    text-align: center;
    margin-top: 2rem;
    text-transform: capitalize;
  }